
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <title>Home Assistant: TTS Test</title>

        <!-- Bootstrap -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

        <!-- Application -->
        <link href="app.css" rel="stylesheet" type="text/css">
    </head>
    <body>
        <div id="app">
            <div class="container">
                <div class="page-header">
                    <h1>Home Assistant: TTS Test</h1>
                </div>
                <pre v-if="result">>{{ result }}</pre>
                <p>
                    <form method="POST" v-on:submit.prevent="magic">
                        <div class="form-group">
                            <label for="hostport">Hostname:Port</label>
                            <input type="text" class="form-control" :id="hostport" :name="hostport" v-model="hostport">
                        </div>
                        <div class="form-group">
                            <label for="api_password">API Password</label>
                            <input type="password" class="form-control" :id="api_password" :name="api_password" v-model="api_password">
                        </div>
                        <div class="form-group">
                            <label for="api_password">Entity Id's</label><br />
                            <div v-for="entity in entity_ids" class="entitys">
                                <input type="checkbox" :id="entity" :value="entity" v-model="entity_selected">
                                <label :for="entity">{{ entity }}</label>
                            </div>
                        </div>
                        <hr />
                        <div class="form-group">
                            <label for="api_password">Message / SSML </label>
                            <textarea v-model="message" placeholder="Say something cool!" style="width: 100%; height: 200px"></textarea>
                        </div>
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Submit</button>
                        </div>
                    </form>

                </p>
            </div>

            <footer class="footer">
                <div class="container">
                    <p class="text-muted">Grab or push <a href="https://github.com/jeliasson/ha-homeassistant-tts-test">jeliasson/ha-assistant-tts-test</a> at <a href="https://www.github.com">GitHub</a>.</p>
                </div>
            </footer>
        </div>

        <!-- jQuery -->
        <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>

        <!-- Bootstrap -->
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

        <!-- Vue.js -->
        <script src="https://unpkg.com/vue/dist/vue.js"></script>

        <!-- Application -->
        <script src="app.js"></script>
    </body>
</html>
